Create database lms_db;
USE [lms_db]
GO
/****** Object:  Table [dbo].[LMS_BOOK_DETAILS]    Script Date: 01-02-2023 15:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LMS_BOOK_DETAILS](
	[BOOK_CODE] [varchar](10) NOT NULL,
	[BOOK_TITLE] [varchar](50) NOT NULL,
	[CATEGORY] [varchar](15) NOT NULL,
	[AUTHOR] [varchar](30) NOT NULL,
	[PUBLICATION] [varchar](30) NULL,
	[PUBLISH_DATE] [date] NULL,
	[BOOK_EDITION] [int] NULL,
	[PRICE] [decimal](8, 2) NULL,
	[RACK_NUM] [varchar](3) NULL,
	[DATE_ARRIVAL] [date] NOT NULL,
	[SUPPLIER_ID] [varchar](3) NULL,
 CONSTRAINT [LMS_cts4] PRIMARY KEY CLUSTERED 
(
	[BOOK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LMS_BOOK_ISSUE]    Script Date: 01-02-2023 15:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LMS_BOOK_ISSUE](
	[BOOK_ISSUE_NO] [int] NOT NULL,
	[MEMBER_ID] [varchar](10) NOT NULL,
	[BOOK_CODE] [varchar](10) NOT NULL,
	[DATE_ISSUE] [date] NOT NULL,
	[DATE_RETURN] [date] NOT NULL,
	[DATE_RETURNED] [date] NULL,
	[FINE_RANGE] [varchar](3) NULL,
 CONSTRAINT [LMS_cts5] PRIMARY KEY CLUSTERED 
(
	[BOOK_ISSUE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LMS_FINE_DETAILS]    Script Date: 01-02-2023 15:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LMS_FINE_DETAILS](
	[FINE_RANGE] [varchar](3) NOT NULL,
	[FINE_AMOUNT] [decimal](10, 2) NOT NULL,
 CONSTRAINT [LMS_cts3] PRIMARY KEY CLUSTERED 
(
	[FINE_RANGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LMS_MEMBERS]    Script Date: 01-02-2023 15:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LMS_MEMBERS](
	[MEMBER_ID] [varchar](10) NOT NULL,
	[MEMBER_NAME] [varchar](30) NOT NULL,
	[CITY] [varchar](20) NULL,
	[DATE_REGISTER] [date] NOT NULL,
	[DATE_EXPIRE] [date] NULL,
	[MEMBERSHIP_STATUS] [varchar](15) NOT NULL,
 CONSTRAINT [LMS_cts1] PRIMARY KEY CLUSTERED 
(
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LMS_SUPPLIERS_DETAILS]    Script Date: 01-02-2023 15:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LMS_SUPPLIERS_DETAILS](
	[SUPPLIER_ID] [varchar](3) NOT NULL,
	[SUPPLIER_NAME] [varchar](30) NOT NULL,
	[ADDRESS] [varchar](50) NULL,
	[CONTACT] [bigint] NOT NULL,
	[EMAIL] [varchar](15) NOT NULL,
 CONSTRAINT [LMS_cts2] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LMS_BOOK_DETAILS] ([BOOK_CODE], [BOOK_TITLE], [CATEGORY], [AUTHOR], [PUBLICATION], [PUBLISH_DATE], [BOOK_EDITION], [PRICE], [RACK_NUM], [DATE_ARRIVAL], [SUPPLIER_ID]) VALUES (N'BL000001', N'Java How To Do Program', N'JAVA', N'Paul J. Deitel', N'Prentice Hall', CAST(N'1999-12-10' AS Date), 6, CAST(600.00 AS Decimal(8, 2)), N'A1', CAST(N'2011-05-10' AS Date), N'S01')
INSERT [dbo].[LMS_BOOK_DETAILS] ([BOOK_CODE], [BOOK_TITLE], [CATEGORY], [AUTHOR], [PUBLICATION], [PUBLISH_DATE], [BOOK_EDITION], [PRICE], [RACK_NUM], [DATE_ARRIVAL], [SUPPLIER_ID]) VALUES (N'BL000002', N'Java: The Complete Reference ', N'JAVA', N'Herbert Schildt', N'Tata Mcgraw Hill ', CAST(N'2011-10-10' AS Date), 5, CAST(750.00 AS Decimal(8, 2)), N'A1', CAST(N'2011-05-10' AS Date), N'S03')
INSERT [dbo].[LMS_BOOK_DETAILS] ([BOOK_CODE], [BOOK_TITLE], [CATEGORY], [AUTHOR], [PUBLICATION], [PUBLISH_DATE], [BOOK_EDITION], [PRICE], [RACK_NUM], [DATE_ARRIVAL], [SUPPLIER_ID]) VALUES (N'BL000003', N'Java How To Do Program', N'JAVA', N'Paul J. Deitel', N'Prentice Hall', CAST(N'1999-05-10' AS Date), 6, CAST(600.00 AS Decimal(8, 2)), N'A1', CAST(N'2012-05-10' AS Date), N'S01')
GO
INSERT [dbo].[LMS_BOOK_ISSUE] ([BOOK_ISSUE_NO], [MEMBER_ID], [BOOK_CODE], [DATE_ISSUE], [DATE_RETURN], [DATE_RETURNED], [FINE_RANGE]) VALUES (1, N'LM001', N'BL000001', CAST(N'2012-05-01' AS Date), CAST(N'2012-05-16' AS Date), CAST(N'2012-05-16' AS Date), N'R0')
INSERT [dbo].[LMS_BOOK_ISSUE] ([BOOK_ISSUE_NO], [MEMBER_ID], [BOOK_CODE], [DATE_ISSUE], [DATE_RETURN], [DATE_RETURNED], [FINE_RANGE]) VALUES (2, N'LM002', N'BL000002', CAST(N'2012-05-01' AS Date), CAST(N'2012-05-06' AS Date), CAST(N'2012-05-16' AS Date), N'R2')
INSERT [dbo].[LMS_BOOK_ISSUE] ([BOOK_ISSUE_NO], [MEMBER_ID], [BOOK_CODE], [DATE_ISSUE], [DATE_RETURN], [DATE_RETURNED], [FINE_RANGE]) VALUES (3, N'LM003', N'BL000007', CAST(N'2012-04-01' AS Date), CAST(N'2012-04-16' AS Date), CAST(N'2012-04-20' AS Date), N'R1')
GO
INSERT [dbo].[LMS_FINE_DETAILS] ([FINE_RANGE], [FINE_AMOUNT]) VALUES (N'R0', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[LMS_FINE_DETAILS] ([FINE_RANGE], [FINE_AMOUNT]) VALUES (N'R1', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[LMS_FINE_DETAILS] ([FINE_RANGE], [FINE_AMOUNT]) VALUES (N'R2', CAST(50.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[LMS_MEMBERS] ([MEMBER_ID], [MEMBER_NAME], [CITY], [DATE_REGISTER], [DATE_EXPIRE], [MEMBERSHIP_STATUS]) VALUES (N'LM001', N'AMIT', N'CHENNAI', CAST(N'2012-02-12' AS Date), CAST(N'2013-02-11' AS Date), N'Temporary')
INSERT [dbo].[LMS_MEMBERS] ([MEMBER_ID], [MEMBER_NAME], [CITY], [DATE_REGISTER], [DATE_EXPIRE], [MEMBERSHIP_STATUS]) VALUES (N'LM002', N'ABDHUL', N'DELHI', CAST(N'2012-04-10' AS Date), CAST(N'2013-04-09' AS Date), N'Temporary')
INSERT [dbo].[LMS_MEMBERS] ([MEMBER_ID], [MEMBER_NAME], [CITY], [DATE_REGISTER], [DATE_EXPIRE], [MEMBERSHIP_STATUS]) VALUES (N'LM003', N'GAYAN', N'CHENNAI', CAST(N'2012-05-13' AS Date), CAST(N'2013-05-12' AS Date), N'Permanent')
GO
INSERT [dbo].[LMS_SUPPLIERS_DETAILS] ([SUPPLIER_ID], [SUPPLIER_NAME], [ADDRESS], [CONTACT], [EMAIL]) VALUES (N'S01', N'SINGAPORE SHOPPEE', N'CHENNAI', 9894123555, N'sing@gmail.com')
INSERT [dbo].[LMS_SUPPLIERS_DETAILS] ([SUPPLIER_ID], [SUPPLIER_NAME], [ADDRESS], [CONTACT], [EMAIL]) VALUES (N'S02', N'JK Stores', N'MUMBAI', 9940123450, N'jks@yahoo.com')
INSERT [dbo].[LMS_SUPPLIERS_DETAILS] ([SUPPLIER_ID], [SUPPLIER_NAME], [ADDRESS], [CONTACT], [EMAIL]) VALUES (N'S03', N'ROSE BOOK STORE', N'TRIVANDRUM', 9444411222, N'rose@gmail.com')
GO
ALTER TABLE [dbo].[LMS_BOOK_DETAILS]  WITH CHECK ADD  CONSTRAINT [LMS_cts41] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[LMS_SUPPLIERS_DETAILS] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[LMS_BOOK_DETAILS] CHECK CONSTRAINT [LMS_cts41]
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE]  WITH CHECK ADD  CONSTRAINT [LMS_BookDetail] FOREIGN KEY([BOOK_CODE])
REFERENCES [dbo].[LMS_BOOK_DETAILS] ([BOOK_CODE])
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE] CHECK CONSTRAINT [LMS_BookDetail]
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE]  WITH CHECK ADD  CONSTRAINT [LMS_FineDetail] FOREIGN KEY([FINE_RANGE])
REFERENCES [dbo].[LMS_FINE_DETAILS] ([FINE_RANGE])
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE] CHECK CONSTRAINT [LMS_FineDetail]
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE]  WITH CHECK ADD  CONSTRAINT [LMS_Mem] FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[LMS_MEMBERS] ([MEMBER_ID])
GO
ALTER TABLE [dbo].[LMS_BOOK_ISSUE] CHECK CONSTRAINT [LMS_Mem]
GO
